Fullness: <span id="fullness">@ViewBag.fullness</span>
Happiness: <span id="happiness">@ViewBag.happiness</span>
Meals: <span id="meals">@ViewBag.meals</span>
Energy: <span id="energy">@ViewBag.energy</span>